name: Scrape & Update Data

on:
  # SE EJECUTA TODOS LOS DÃAS A LAS 08:34 HORA DE LIMA (UTC-5)
  # => 13:34 UTC
  schedule:
    # - cron: '34 13 * * *'
    - cron: '7 1 * * *'
  workflow_dispatch:

jobs:
  run-scrapers:
    runs-on: windows-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          persist-credentials: false

      - name: Add config folder to PATH
        run: echo "${{ github.workspace }}\config" >> $GITHUB_PATH

      - name: Setup Python (Scraper 1)
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'

      - name: Install dependencies for Scraper 1
        run: pip install -r scrapers/scraper_1/requirements.txt

      - name: Run Scraper 1
        run: python scrapers/scraper_1/main.py

      - name: Commit changes for Scraper 1
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add .
          git commit -m "Scrapeo del dia (Scraper 1): $(date)" || echo "No changes to commit"

      - name: Push changes after Scraper 1
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.PERSONAL_TOKEN }}
          branch: main
